In [2]:
import pandas as pd
from pyETT import ett

In [3]:
ids = [3831, 234850, 11002]
monthly_elo_threshold = 2000
start_date = '2021-06-01'
end_date = '2021-06-30'

In [4]:
from functools import reduce

players = [ett.Player(p_id) for p_id in ids]

players_elo = [p.get_elo_history().rename(columns={"elo":(p.name+" ("+str(p.id)+")")}) for p in
               players if p.get_elo_history() is not None]

group_elo_df = reduce(lambda df1,df2: pd.merge(df1,df2,how='outer', left_index=True, right_index=True),
                      players_elo).ffill(axis = 0)

In [5]:
monthly_stats = group_elo_df.loc[(group_elo_df.index >= start_date)  & (group_elo_df.index <= end_date)].describe().filter(like='m', axis=0).transpose()
monthly_stats['direct_entry'] = monthly_stats['max'] > monthly_elo_threshold
monthly_stats['can_qualify'] = monthly_stats['min'] <= monthly_elo_threshold

In [6]:
pd.options.display.float_format = '{:,.1f}'.format
monthly_stats['id'] = ids
monthly_stats

,mean,min,max,direct_entry,can_qualify,id
alexttbcn (3831),"2,965.2","2,921.0","2,984.0",True,False,3831
lapoctopus90 (234850),"3,054.9","2,971.0","3,102.1",True,False,234850
twISTer1979 (11002),"2,998.3","2,964.0","3,039.0",True,False,11002